/* Color Palette

Tomato (decorative) 
rgb(240, 101, 67)

Alabaster (backgrounds) 
rgb(241, 238, 228)

Seasalt ("white text") 
rgb(251, 250, 248)

Lapis Lazulli (decorative and titles) 
rgb(74, 103, 150)

Oxford Blue (dark text) 
rgb(10, 18, 42) 

End of Color Palette */

/* General Styles */
body {
    font-family: 'Kanit', sans-serif;
    font-size: clamp(1rem, 0.4576rem + 2.7119vw, 3rem);;
    margin: 0;
    padding: 0;
}
/* End of General Styles */

/* Desktop styling */
/* Hero Section*/
.hero {
    position: relative;
    height: 100vh; 
    background-image: url('assets/hero-section.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center right;
    display: flex;
    align-items: center;
}

.hero-content {
    padding: 2em;
    color: rgb(251, 250, 248);
    text-align: left;
}

.hero-content h1 {
    font-size: 2em;
    margin-bottom: 0;
}

.hero-content h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    font-weight: 500;
    font-style: italic;
    margin-top: 0;
}
.frontEnd{
    color: rgb(74, 103, 150);
    font-weight: bolder;
}
/* End of Hero Section*/

/* Aside Styles */
.links {
    background-color: rgba(240, 101, 67, 0.5); /* Semi-transparent tomato */
    backdrop-filter: blur(10px); /* Apply blur effect */
    border-radius: 10px;
    position: fixed;
    top: 10vh;
    left: 85vw;
    z-index: 4;
    width: 2.3em;
    display: flex;
    flex: 1;
}

.ulLinks{
    list-style: none; /* Remove bullet points */
    padding: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fa-brands, .fa-solid {
    color: rgb(241, 238, 228);
    font-size: 1em;
    margin: 0.2em 0;
}

.fa-brands:hover, .fa-solid:hover {
    color: rgb(74, 103, 150);
    font-size: 1.1em;
    transition: 0.3s;
}
/*End of Aside Styles */

/* About Me Section Styles*/
.body {
    padding: 2em;
    background-color: rgb(241, 238, 228);
}

.aboutMeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}
.aboutMeHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('assets/blop-bg1.jpg');
    border-radius: 55% 45% 51% 49% / 72% 69% 31% 28% ;
    background-position: top left;
    width: 15em;
    height: 8em;
}
.aboutMeTitle {
    color: rgb(251, 250, 248);
    font-size: 1em;
    margin: 0;
}
.aboutMeBlops{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    color: rgb(251, 250, 248);
    font-size: 0.7em;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
}
.aboutMeBlops >* {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/blop-bg1.jpg');
    margin: 0.5em;
}
.blop1{
    border-radius: 80% 20% 70% 30% / 37% 46% 54% 63%;
    background-position: left;
    width: 10em;
    height: 6em;
}
.blop2{
    border-radius: 54% 46% 17% 83% / 62% 64% 36% 38%;
    background-position: right;
    width: 18em;
    height: 9em;
}
.blop3{
    border-radius: 30% 70% 70% 30% / 68% 71% 29% 32%;
    background-position: top;
    width: 13em;
    height: 8em;
}
.blop4{
    border-radius: 21% 79% 43% 57% / 22% 46% 54% 78%;
    background-position: bottom;
    width: 13em;
    height: 8em;
}
.aboutMeText{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2em;
}
.aboutMeTextStyling{
    font-size: 0.5em;
    color: rgb(10, 18, 42);
    margin-right: 2em;
}
.textHighlights{
    color: rgb(240, 101, 67);
}
.svgContainer{
    position: relative;
}
.svgBackground{
    background-image: url('assets/blop-bg1.jpg');
    border-radius: 70% 30% 32% 68% / 28% 68% 32% 72%;
    background-position: bottom right;
    width: 8em;
    height: 5em;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    margin: 0.5em;
}
.svgElement{
    position: relative;
    width: 10em;
    margin-left: 2vw;
}
.listAndTable{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.listAndTable > *{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/blop-bg1.jpg');
    color: rgb(251, 250, 248);
    font-size: 0.5em;
    margin: 0.5em;
}

.interests{
    border-radius: 49% 51% 22% 78% / 52% 68% 32% 48% ;
    background-position: top left;
    width: 22em;
    height: 13em;
}
.intList{
    list-style-type: none;
}
.studies{
    border-radius: 14% 86% 79% 21% / 83% 44% 56% 17%;
    background-position: top right;
    width: 30em;
    height: 15em;
}
td {
    padding-left: 0.5em;
}
/* End of About Me Section Styles*/


/* Footer Styles*/
.footer {
    font-size: 0.4em;
    background-color: rgb(74, 103, 150);
    color: rgb(251, 250, 248);
    text-align: center;
    padding: 0.6em 0;
    display: flex;
    justify-content: space-around;
}
/* End of Footer Styles*/
/* End of Desktop styling */